*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --color-primary: #c92f2f;
  --color-primary-1: crimson;
  --color-white: #fff;
  --color-white-light-1: #f0f0f0;
  --color-white-light-2: #ccc;
  --color-black: #000;
  --color-black-heavy: #111;
  --color-black-light: #333;
  --color-grey: #777;

  /* typographical variables */
  --padding-inlin-headers: 4rem;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-size: 1.4rem;
  color: var(--color-black-light);
  position: relative;
}
/* utility classes */
.title {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 500;
}
.capitalize {
  text-transform: capitalize;
}
.text-variant-1 {
  font-size: 1.8rem;
  color: var(--color-grey);
}
.mb-md {
  margin-bottom: 2rem;
}
.subtitle {
  font-size: 3rem;
  font-weight: normal;
  text-transform: capitalize;
  color: var(--color-black-heavy);
}
.u-center{
  text-align: center;
}
/* end of utility stylings */

/* header stylings */
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: var(--color-white);
}
.header__top,
.header__top--left,
.header__top--opening,
.header__top--icons,
.header__top--right,
.header__top--container-svg,
.header__bottom,
.header__nav--list {
  display: flex;
  align-items: center;
}
.header__top {
  padding: 1.5rem var(--padding-inlin-headers);
  background-color: rgba(238, 238, 238, 0.693);
}
.header__top--left {
  margin-right: auto;
}
.header__top--opening > *:not(:last-child) {
  margin-right: 0.5rem;
}
.header__top--opening span {
  margin: 0 2rem;
}
.header__top--text {
  font-size: 1.8rem;
  color: var(--color-grey);
}
.header__top--icons > *:not(:last-child) {
  margin-right: 1rem;
}
.header__top--icons > * svg {
  fill: var(--color-grey);
}
.header__top--svg {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-primary);
}

.header__top--right > *:not(:last-child) {
  margin-right: 2rem;
}
.header__top--container-svg > *:not(:last-child) {
  margin-right: 1rem;
}
.header__bottom {
  padding: 1rem var(--padding-inlin-headers);
  box-shadow: 0 4px 3px 0px rgba(216, 211, 211, 0.75);
}
.header__bottom > *:not(:last-child) {
  margin-right: auto;
}
.header__logo--container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, 2.5rem);
  align-items: center;
  gap: 0.3rem;
  row-gap: 0.1rem;
  max-height: 100%;
}
.header__logo {
  --size: 4.5rem;
  width: var(--size);
  height: var(--size);
  grid-column: 1/2;
  grid-row: 1/-1;
}
.header__logo--title {
  font-size: 2.5rem;
  grid-column: 2/-1;
  font-weight: bold;
}
.header__logo--subtitle {
  color: var(--color-grey);
  font-size: 2rem;
  padding: 0;
}
.header__nav--list > *:not(:last-child) {
  margin-right: 2rem;
}
.header__nav--list {
  list-style: none;
}
.header__nav--link:link,
.header__nav--link:visited {
  text-decoration: none;
  font-size: 1.7rem;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.header__bottom--link:link,
.header__bottom--link:visited {
  text-decoration: none;
  font-size: 1.7rem;
  padding: 1.2rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
}
/* everything to do with the header ends here */

/* home section styling begins here */
.home {
  margin-block: 2rem;
  padding: 1rem var(--padding-inlin-headers);
}
.home__textual {
  max-width: 70%;
  margin-inline: auto;
  text-align: center;
}
.home__about {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
  justify-items: center;
}
.about {
  --width: 40rem;
  width: var(--width);
  min-width: var(--width);
  max-width: var(--width);
}
.about > *:not(:last-child) {
  margin-bottom: 3rem;
}
.about__body > *:not(:last-child) {
  margin-bottom: 2.5rem;
}
.about__image {
  width: 100%;
  height: 30rem;
  border-radius: 5px;
  overflow: hidden;
}
.about__image--img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all .1s ease;
}
.about:hover .about__image--img{
    /* filter: blur(1px); */
    filter: grayscale();
}
.about__body--title {
  transform: scaleY(1.02);
  letter-spacing: 1.2px;
}
.about__body--text {
  line-height: 1.2;
  text-align: justify;
}
.home__about--link:link, .home__about--link:visited{
    text-decoration: none;
    color: var(--color-grey);
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
/* home about stylings end here */

/* the stylings for the preamble section begin here */
.preamble{
    background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),url(../images/congregation.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preamble>*:not(:last-child){
    margin-bottom: 3rem;
}
.preamble__subtitle{
    font-size: 3rem;
    color: var(--color-primary);
    text-transform: uppercase;
}
.preamble__title{
    font-size: 4rem;
    text-align: center;
    color: var(--color-white);
    line-height: 1.2;
    font-weight: normal;
}
.preamble__link:link, .preamble__link:visited{
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color-white-light-2);
    color: var(--color-primary);
    text-transform: uppercase;
    border-radius: 1px;
    transition: all .3s ease;
}
.preamble__link:hover{
    background-color: var(--color-white);
}

/* this is the end of the preamble stylings section */

/* sermons stylings begin here */
.sermons{
  padding: 4rem var(--padding-inlin-headers);
  margin-bottom: 3rem;
}
.sermons__container{
  margin-block: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
}
.sermon{
  --width: 40rem;
  min-width: var(--width);
  max-width: var(--width);
  width: var(--width);
}
.sermon__header{
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-white-light-2);
}
.sermon__image{
  width: 100%;
  height: 25rem;
  min-height: 25rem;
  max-height: 25rem;
  box-shadow: 3px 2px 5px 6px #ccc;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
}
.sermon__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  z-index: 5;
}
.sermon__release{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  position: absolute;
  left: 2rem;
  bottom: -2rem;
  z-index: 10;
  background-color: var(--color-white);
  border-radius: 4px;
  /* box-shadow: 0 0 3px; */
  box-shadow: 3px 2px 5px 6px #ccc;
  transition: all .5s ease;
}
.sermon:hover .sermon__release{
  transform: translateY(-15px);
  background-color: var(--color-primary);
  color: var(--color-white);
}
.sermon__release span{
  display: block;
}
.sermon__release--date{
  font-size: 4rem;
  font-weight: bolder;
}
.sermon__release--month{
 font-weight: bold;
  text-transform: uppercase;
}
.sermon__controls{
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.sermon__control--icon{
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-grey);
  display: block;
}
.sermon__control--icon:not(:last-of-type){
  margin-right: 2rem;
}
.sermon__body{
  margin-top: 2rem;
}
.sermon__detail--svg{
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-primary);
  margin-right: 1rem;
}
.sermon__detail{
  display: flex;
  align-items: center;
}
.sermon__detail:not(:last-of-type){
  margin-bottom: 1.5rem;
}
.sermon__detail--detname{
  font-size: 1.8rem;
  text-transform: capitalize;
  font-style: italic;
  color: var(--color-grey);
  margin-right: 1rem;
}
.sermon__detail--value{
  font-size: 1.8rem;
  text-transform: capitalize;
}

/* end of sermons stylings */

/* beginning of upcoming events stylings */
.container-events{
  display: flex;
  align-items: center;
  /* min-height: 60vh; */
  margin-block-start: 5rem;
  margin-block-end: 4rem;
}
.container-events__left{
  height: clamp(80vh, 80vh, 80vh);
  width: clamp(50%, 50%, 50%);
  background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),url(../images/choir.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block-start: 3rem;
  text-align: center;
}
.container-events__left--heading{
  font-size: 3rem;
  color: var(--color-white-light-1);
}
.event__register{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin: 2rem auto;
  box-shadow: 0 0 5px;
  padding: 1rem;
}
.event__register--input{
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  display: block;
  margin-bottom: 2rem;
  border: none;
  outline: none;
  border-radius: 3px;
  width: max-content;
  width: 90%;
  margin-inline: auto;
  color: var(--color-black-heavy);
  box-shadow: 0 0 4px;
}
.event__register--input::-webkit-input-placeholder{
  text-transform: capitalize;
}
.event__register--button{
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 3px;
  margin-inline: auto;
  font-weight: bold;
  cursor: pointer;
}
.container-events__right{
  width: clamp(50%, 50%, 50%);
}
.table{
  width: clamp(70%, 70%, 70%);
  margin: 3rem auto;
  border-collapse: collapse;
  font-size: 1.7rem;
  border-spacing: 10px;
  text-transform: capitalize;
  text-align: left;
}
.table__head--title, .table__body--data{
  padding: 1rem;
  border-block: 1px solid var(--color-grey);
}
.table__body--data:not(:last-of-type){
  border-right: 1px solid var(--color-grey);
}
.table__body--data:first-of-type{
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
}
.table__body--data:last-of-type{
  color: var(--color-grey);
  text-transform: uppercase;
}
.table__head{
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* end of the upcoming events stylings */

/* beginning of the news part stylings */
.news{
  --width: 40rem;
  width: clamp(var(--width), var(--width), var(--width));
}
.news__container{
  padding: 3rem var(--padding-inlin-headers);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
  row-gap: 5rem;
}
.news__image{
  width: 100%;
  height: 25rem;
  border-radius: 5px;
  overflow: hidden;
}
.news__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.news__title{
  font-size: 2.3rem;
  margin-block: 2rem;
  margin: 2rem 0;
}
.news__meta{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.news__author:first-of-type{
  margin-right: 4rem;
  position: relative;
}
.news__author:first-of-type::after{
  content: '|';
  margin-left: 3rem;
  transform: scaleY(1.2);
}
.news__meta--icon{
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-primary);
  margin-right: 4px;
}
.news__author{
  display: flex;
  align-items: center;
}
.news__text{
  font-size: 1.8rem;
  text-align: justify;
  font-weight: 100;
  line-height: 1.2;
}
/* end of news and blogs stylings */

/* beginning of footer stylings */
.footer{
  background-color: #330101;
  padding: 3rem;
}
.footer__title{
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--color-white-light-1);
  margin-bottom: 2rem;
}
.footer__main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.footer__logo{
  width: clamp(20rem, 20rem, 20rem);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, 2.5rem);
  margin-bottom: 6rem;
}
.footer__logo--img{
  --size: 4.5rem;
  width: var(--size);
  height: var(--size);
  grid-column: 1/2;
  grid-row: 1/-1;
}
.footer__logo--title{
  font-size: 2.5rem;
  grid-column: 2/-1;
  font-weight: bold;
  color: var(--color-white);
}
.footer__logo--subtitle{
  font-size: 2rem;
  color: var(--color-white);
}
.footer__text{
  font-size: 1.8rem;
  color: var(--color-white-light-1);
  text-align: justify;
}
.footer__nav{
  width: 80%;
  /* margin: auto; */
}
.footer__list{
  list-style: none;
}
.footer__list>*{
  margin-bottom: 1rem;
}
.footer__item{
  position: relative;
}
.footer__item::before{
  content: '>>';
  margin-right: .8rem;
  font-size: 1.8rem;
  color: var(--color-white);
  transform: scaleY(1.2);
}
.footer__item--link{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2rem;
  color: var(--color-white-light-2);
}
.youth__event{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 1rem;
  margin-bottom: 3rem;
}
.yout__event--title{
  grid-column: 1/-1;
}
.youth__event--icon{
  grid-column: 1/2;
}
.youth__event--duration{
  grid-column: 2/-1;
}
.yout__event--title{
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--color-white-light-2);
}
.youth__event--duration{
  font-style: italic;
  font-size: 1.7rem;
  color: var(--color-grey);
}
.contact__list{
  list-style: none;
}
.contact__list--tem{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.contact__list--text{
  font-size: 1.8rem;
  margin-left: 1.2rem;
  color: var(--color-white-light-2);
}
.contact__list--text:first-of-type, .contact__list--text:last-of-type{
  text-transform: capitalize;
}
.footer__copyright{
  font-size: 1.6rem;
  border-top: 1px solid var(--color-white-light-2);
  text-align: center;
  padding-block-start: 1rem;
}
.footer__icon{
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-primary);
}